body{
    background-color: black;
    width: 200%;
}
.main {
    display: flex;
    --size: 100px;  /* size  */
    --margin: 0px;    /* margin */
    --f: calc(1.732 * var(--size) + 4 * var(--margin) - 1px);
}

.container {
    font-size: 0; /*disable white space between inline block element */
}
.hexagon {
    display: inline-block;
    font-size: initial;
    text-align: center;
    margin: var(--margin);
    width: var(--size);
    height: calc(var(--size)*1.1547);
    clip-path: polygon(0% 25%, 0% 75%, 50% 100%, 100% 75%, 100% 25%, 50% 0%);
    margin-bottom: calc(var(--margin) - var(--size)*0.2885);

    /*
    height: var(--size);
    width: calc(var(--size)*1.1547);
    clip-path: polygon(0% 50%, 25% 0%, 75% 0%, 100% 50%, 75% 100%, 25% 100%);
    margin-bottom: calc(var(--margin) - var(--size)*0.2885);
     */
}
.container::before {
    content: "";
    width: calc(var(--size)/2 + var(--margin));
    float: left;
    height: 120%;
    shape-outside: repeating-linear-gradient(
            #0000 0 calc(var(--f) - 10px),
            #000  0 var(--f)
    );
}
