<!DOCTYPE html>
<head>
    <title>Columbus Game</title>
    <link rel="stylesheet" href="../static/stylesheet.css">
    <script src="player.js"></script>

    <script src="diceThrower.js"></script>
</head>
<body>

<section>
    <div class="sideBar">
        <h1 id="playerNameTitle" class="playerTitle"></h1>


        <h3 id="soldierCount" class="soldierCount"></h3>
        <h3 id="carrierCount" class="carrierCount"></h3>

        <!--Somehow the table doesn't show without this -->
        <h2 style="height: 50px"></h2>

        <h2>Inventory</h2>

        <table>
            <thead>
            <tr>
                <th>Item</th>
                <th>Amount</th>
                <th>Weight</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Gold</td>
                <td id="goldCount">0</td>
                <td id="goldWeight">0</td>
            </tr>
            <tr>
                <td>Food</td>
                <td id="foodCount">0</td>
                <td id="foodWeight">0</td>
            </tr>
            <tr>
                <td>Water</td>
                <td id="waterCount">0</td>
                <td id="waterWeight">0</td>
            </tr>
            <tr>
                <td>Gifts</td>
                <td id="giftCount">0</td>
                <td id="giftWeight">0</td>
            </tr>
            <tr>
                <td>Canoes</td>
                <td id="canoeCount">0</td>
                <td id="canoeWeight">0</td>
            </tr>
            <tr>
                <td>Gemstones</td>
                <td id="gemstoneCount">0</td>
                <td id="gemstoneWeight">0</td>
            </tr>
            <tr>
                <td>Fur</td>
                <td id="furCount">0</td>
                <td id="furWeight">0</td>
            </tr>
            <tr>
                <td>Piece of Art</td>
                <td id="artPieceCount">0</td>
                <td id="artPieceWeight">0</td>
            </tr>
            </tbody>
        </table>

        <div id="weightLimit">Weight 0/40</div>
        <button class="start_btn" onclick="createPlayerOnBoard()">START GAME</button>
    </div>
    <div class="main">
        <div id="gameboard" class="container"></div>
    </div>
</section>

<!--Sidebar / HUD-->
<script>
    function makeLocalCache() {
        let soliderCount = 0
        let carrierCount = 0

        return {
            setCarrierCount: function (count) {
                carrierCount = count
                let finalText = "Carrier: " + count
                const node = document.getElementById("carrierCount")
                node.innerText = finalText
            },
            getCarrierCount: function () {
                return carrierCount
            },
            setSoldierCount: function (count) {
                soliderCount = count
                let finalText = "Soldier: " + count
                const node = document.getElementById("soldierCount")
                node.innerText = finalText
            },
            getSoldierCount: function () {
                return soldierCount
            }
        }
    }

    function setPlayerNameTitle(name) {
        const node = document.getElementById("playerNameTitle")
        node.innerText = name
    }

    /*function setSoldierCount(count){
        let finalText = "Soldiers: " + count
        const node = document.getElementById("soldierCount")
        node.innerText = finalText
    }

    function setCarrierCount(count){
        let finalText = "Carrier: " + count
        const node = document.getElementById("carrierCount")
        node.innerText = finalText
    }*/

    function setInventoryItem(item, count) {
        let goldWeightRatio = 4
        let foodWeightRatio = 0.5
        let waterWeightRatio = 0.5
        let giftWeightRatio = 2
        let canoeWeightRatio = 3
        let gemstoneWeightRatio = 2
        let furWeightRatio = 5
        let artPieceWeightRatio = 3

        switch (item) {
            case "gold":
                updateItem(item, count, count * goldWeightRatio)
                break;
            case "food":
                updateItem(item, count, count * foodWeightRatio)
                break;
            case "water":
                updateItem(item, count, count * waterWeightRatio)
                break;
            case "gift":
                updateItem(item, count, count * giftWeightRatio)
                break;
            case "canoe":
                updateItem(item, count, count * canoeWeightRatio)
                break;
            case "gemstone":
                updateItem(item, count, count * gemstoneWeightRatio)
                break;
            case "fur":
                updateItem(item, count, count * furWeightRatio)
                break;
            case "artPiece":
                updateItem(item, count, count * artPieceWeightRatio)
                break;
            default:
                throw new Error("Item name doesn't exist")
        }
    }

    function updateItem(item, count, weight) {
        const countString = item + "Count"
        const weightString = item + "Weight"
        const countNode = document.getElementById(countString)
        const weightNode = document.getElementById(weightString)
        countNode.innerText = count
        weightNode.innerText = weight
        updateWeight()
    }


    function updateWeight() {
        const goldWeight = parseFloat(document.getElementById("goldWeight").innerText)
        const foodWeight = parseFloat(document.getElementById("foodWeight").innerText)
        const waterWeight = parseFloat(document.getElementById("waterWeight").innerText)
        const giftWeight = parseFloat(document.getElementById("giftWeight").innerText)
        const canoeWeight = parseFloat(document.getElementById("canoeWeight").innerText)
        const gemstoneWeight = parseFloat(document.getElementById("gemstoneWeight").innerText)
        const furWeight = parseFloat(document.getElementById("furWeight").innerText)
        const artPieceWeight = parseFloat(document.getElementById("artPieceWeight").innerText)
        const totalWeight = goldWeight + foodWeight + waterWeight + giftWeight + canoeWeight + canoeWeight +
            gemstoneWeight + furWeight + artPieceWeight

        const weightLimit = 40 + 40 * cache.getCarrierCount()

        const finalWeightString = "Weight: " + totalWeight + "/" + weightLimit

        const nodeToEdit = document.getElementById("weightLimit")
        nodeToEdit.innerText = finalWeightString
        checkWeightLimit()
    }

    function checkWeightLimit() {
        //TODO: This function should react when weight limit is reached
    }

    //Updates HUD by getting info from server
    function updateHUD() {
        //TODO: Make this
    }


    function makeInitialHUD() {
        setPlayerNameTitle("Senor Rasmus")
        //setPlayerNameTitle(sessionStorage.getItem("name"))
        cache.setSoldierCount(20)
        cache.setCarrierCount(20)
        setInventoryItem("gold", 5)
        setInventoryItem("food", 20)
        setInventoryItem("water", 10)
        setInventoryItem("gift", 20)
        setInventoryItem("canoe", 20)
        setInventoryItem("gemstone", 20)
        setInventoryItem("fur", 20)
        setInventoryItem("artPiece", 20)
    }

    let cache = makeLocalCache()
    makeInitialHUD()
</script>

<!--PlayerObject-->
<span class="player">
<script>


    function createPlayerOnBoard() {
        let player = new Player
        //Marks the player position on board (RED) when clicking "START GAME"
        player.xy_pos = document.getElementById("hexagon-16-5").style.backgroundColor = "red"
        player.name = null
        player.id = null
        player.bp = 12;
    }

    createPlayerOnBoard()
</script>
</span>

<!--Dette er starten på script til hexagrid-->
<script>

    let terrainColors = ['silver', 'yellow', 'green', 'lime', 'blue', 'gray', 'saddlebrown', 'cyan']
    let terrainTypes = ['Unexplored', 'Dessert', 'Jungle', 'Grass', 'Sea', 'Mountains', 'Swamp', 'Coast']

    function loadHexagons() {
        document.getElementById('gameboard').innerHTML = generateHexagonsHTML(16, 12)
    }

    function generateUnexploredHexagonsHTML(count) {
        let hexagonsHTML = ""

        for (let i = 0; i < count; i++) {
            hexagonsHTML += `<div
                    class="hexagon"
                    id="hexagon-${i}"
                    style="background-image: ${terrainColors[0]}"
                    onclick="explore(${i})"
                ><br><br>${terrainTypes[0]}</div>`
        }
        return hexagonsHTML
    }

    function count(cols, rows){
        const hexMap = new Map();
        //Lige rækker
        if(rows%2 ===0){
            //som udgangspunkt i hex modellen på side 7
            //1 - (6) |1|
            let hexagon1 = document.getElementById("hexagon-"+cols+"-"+(rows-1))
            //2 - (6) |2|
            let hexagon2 = document.getElementById("hexagon-"+(cols+1)+"-"+rows)
            //3 - (6) |3|
            let hexagon3 = document.getElementById("hexagon-"+cols+"-"+(rows+1))
            //4 - (6) |4|
            let hexagon4 = document.getElementById("hexagon-"+(cols-1)+"-"+(rows+1))
            //5 - (6) |5|
            let hexagon5 = document.getElementById("hexagon-"+(cols-1)+"-"+rows)
            //6 - (6) |6|
            let hexagon6 = document.getElementById("hexagon-"+(cols-1)+"-"+(rows-1))

            if(hexagon1 != null) hexMap.set(hexagon1, hexagon1.style.backgroundColor)
            if(hexagon2 != null) hexMap.set(hexagon2, hexagon2.style.backgroundColor)
            if(hexagon3 != null) hexMap.set(hexagon3, hexagon3.style.backgroundColor)
            if(hexagon4 != null) hexMap.set(hexagon4, hexagon4.style.backgroundColor)
            if(hexagon5 != null) hexMap.set(hexagon5, hexagon5.style.backgroundColor)
            if(hexagon6 != null) hexMap.set(hexagon6, hexagon6.style.backgroundColor)
        }
        //Ulige rækker
        if (rows%2 !== 0){
            let hexagon1 = document.getElementById("hexagon-"+(cols+1)+"-"+(rows-1))
            let hexagon2 = document.getElementById("hexagon-"+(cols+1)+"-"+rows)
            let hexagon3 = document.getElementById("hexagon-"+(cols+1)+"-"+(rows+1))
            let hexagon4 = document.getElementById("hexagon-"+cols+"-"+(rows+1))
            let hexagon5 = document.getElementById("hexagon-"+(cols-1)+"-"+rows)
            let hexagon6 = document.getElementById("hexagon-"+cols+"-"+(rows-1))

            if(hexagon1 != null) hexMap.set(hexagon1, hexagon1.style.backgroundColor)
            if(hexagon2 != null) hexMap.set(hexagon2, hexagon2.style.backgroundColor)
            if(hexagon3 != null) hexMap.set(hexagon3, hexagon3.style.backgroundColor)
            if(hexagon4 != null) hexMap.set(hexagon4, hexagon4.style.backgroundColor)
            if(hexagon5 != null) hexMap.set(hexagon5, hexagon5.style.backgroundColor)
            if(hexagon6 != null) hexMap.set(hexagon6, hexagon6.style.backgroundColor)
        }
        let maxCount = 0;

        const countMap = new Map();
        countMap.set("yellow", 0)
        countMap.set("green", 0)
        countMap.set("blue", 0)
        countMap.set("lime", 0)
        countMap.set("gray", 0)
        countMap.set("saddlebrown", 0)

        for(let tile of hexMap.values()){
            switch (tile){
                case "cyan":
                    break;

                case "silver":
                    break;

                default:
                    let count = countMap.get(tile)
                    let newCount = count + 1
                    countMap.set(tile, newCount)
                    if(maxCount < newCount){
                        maxCount++
                    }
                    break;
            }
        }

        if(maxCount < 2){
            return null;
        }

        let arr = []
        let arrSize = 0
        for(let counter of countMap.keys()){
            if(countMap.get(counter) === maxCount){
                arr[arrSize] = counter
                arrSize++
            }
        }
        let randInt = getRandomInt(arrSize)

        const returnMap = new Map()
        let returnKey;

        switch (arr[randInt-1]){
            case "yellow":
                returnKey = 1;
                break;
            case "green":
                returnKey = 2;
                break;
            case "lime":
                returnKey = 3;
                break;
            case "blue":
                returnKey = 4;
                break;
            case "gray":
                returnKey = 5;
                break;
            case "saddlebrown":
                returnKey = 6;
                break;
            default:
                throw new Error("You done goofed")
        }

        returnMap.set(returnKey, maxCount)
        return returnMap
    }


    function explore(cols,rows){
        let hexagon=document.getElementById("hexagon-"+cols+"-"+rows)

        //dice
        let diceThrow = getRandomInt(10)

        const sameFieldMap = count(cols, rows)

        let sameField;
        let sameFieldCount
        if(sameFieldMap === null){
            sameFieldCount = 1;
        } else {
            for (let tileID of sameFieldMap.keys()) {
                sameField = tileID
            }

            sameFieldCount = sameFieldMap.get(sameField)

        }

        let color;
        let terrainType;
        //Et eller andet som tæller vædierne omliggende den explored

        switch(diceThrow){
            case 1:
            case 2:
            case 3:
            case 4:
                if(sameFieldCount === 2){
                    color=terrainColors[sameField]
                    terrainType=terrainTypes[sameField]
                    hexagon.style.backgroundColor=color
                    hexagon.innerHTML=`<br><br>${terrainType}`
                } else if(sameFieldCount === 3 || sameFieldCount > 3){
                    color=terrainColors[sameField]
                    terrainType=terrainTypes[sameField]
                    hexagon.style.backgroundColor=color
                    hexagon.innerHTML=`<br><br>${terrainType}`
                } else {
                    color = terrainColors[3]
                    terrainType = terrainTypes[3]
                    hexagon.style.backgroundColor = color
                    hexagon.innerHTML = `<br><br>${terrainType}`
                }
                break;
            case 5:
            case 6:
                if(sameFieldCount === 2){
                    color=terrainColors[3]
                    terrainType=terrainTypes[3]
                    hexagon.style.backgroundColor=color
                    hexagon.innerHTML=`<br><br>${terrainType}`
                } else if(sameFieldCount === 3 || sameFieldCount > 3){
                    color=terrainColors[sameField]
                    terrainType=terrainTypes[sameField]
                    hexagon.style.backgroundColor=color
                    hexagon.innerHTML=`<br><br>${terrainType}`
                } else {
                    color = terrainColors[2]
                    terrainType = terrainTypes[2]
                    hexagon.style.backgroundColor = color
                    hexagon.innerHTML = `<br><br>${terrainType}`
                }
                break;

            case 7:
                if(sameFieldCount === 2){
                    color=terrainColors[2]
                    terrainType=terrainTypes[2]
                    hexagon.style.backgroundColor=color
                    hexagon.innerHTML=`<br><br>${terrainType}`
                } else if(sameFieldCount === 3 || sameFieldCount > 3){
                    color=terrainColors[3]
                    terrainType=terrainTypes[3]
                    hexagon.style.backgroundColor=color
                    hexagon.innerHTML=`<br><br>${terrainType}`
                } else {
                    color = terrainColors[5]
                    terrainType = terrainTypes[5]
                    hexagon.style.backgroundColor = color
                    hexagon.innerHTML = `<br><br>${terrainType}`
                }
                break;

            case 8:
                if(sameFieldCount === 2){
                    color=terrainColors[5]
                    terrainType=terrainTypes[5]
                    hexagon.style.backgroundColor=color
                    hexagon.innerHTML=`<br><br>${terrainType}`

                } else if(sameFieldCount === 3 || sameFieldCount > 3){
                    color=terrainColors[2]
                    terrainType=terrainTypes[2]
                    hexagon.style.backgroundColor=color
                    hexagon.innerHTML=`<br><br>${terrainType}`
                } else {
                    color = terrainColors[2]
                    terrainType = terrainTypes[2]
                    hexagon.style.backgroundColor = color
                    hexagon.innerHTML = `<br><br>${terrainType}`
                }
                break;

            case 9:
                if(sameFieldCount === 2){
                    color=terrainColors[1]
                    terrainType=terrainTypes[1]
                    hexagon.style.backgroundColor=color
                    hexagon.innerHTML=`<br><br>${terrainType}`
                } else if(sameFieldCount === 3 || sameFieldCount > 3){
                    color=terrainColors[5]
                    terrainType=terrainTypes[5]
                    hexagon.style.backgroundColor=color
                    hexagon.innerHTML=`<br><br>${terrainType}`
                } else {
                    color = terrainColors[7]
                    terrainType = terrainTypes[7]
                    hexagon.style.backgroundColor = color
                    hexagon.innerHTML = `<br><br>${terrainType}`
                }
                break;

            case 10:
                if(sameFieldCount === 3 || sameFieldCount > 3){
                    color=terrainColors[1]
                    terrainType=terrainTypes[1]
                    hexagon.style.backgroundColor=color
                    hexagon.innerHTML=`<br><br>${terrainType}`
                } else {
                    color = terrainColors[6]
                    terrainType = terrainTypes[6]
                    hexagon.style.backgroundColor = color
                    hexagon.innerHTML = `<br><br>${terrainType}`
                }
                break;

            default:
                throw new Error("The dice thrower might be fucked")
        }

        if(terrainType !== "Sea"){

            let diceThrowCiv = getRandomInt(10)
            if(diceThrowCiv === 8 || diceThrowCiv === 9){
                hexagon.setAttribute("data-civ", "Village")
                let tileType = hexagon.innerHTML
                let name = tileType + "Village"
                hexagon.innerHTML = name

                let diceThrowAttitude = getRandomInt(6)
                if(diceThrowAttitude <3){
                    //friendly
                    hexagon.style.color = "green"
                }else if(diceThrowAttitude < 5){
                    //neutral
                    hexagon.style.color = "yellow"
                }else{
                    //enemies
                    hexagon.style.color = "red"
                }
            }else if(diceThrowCiv === 10){
                hexagon.setAttribute("data-civ", "Civilization")
                let tileType = hexagon.innerHTML
                let name = tileType + "Civilization"
                hexagon.innerHTML = name
                let diceThrowAttitude = getRandomInt(6)
                if(diceThrowAttitude <3){
                    //friendly
                    hexagon.style.color = "green"
                }else if(diceThrowAttitude < 5){
                    //neutral
                    hexagon.style.color = "yellow"
                }else{
                    //enemies
                    hexagon.style.color = "red"
                }
            }

        }
        hexagon.onclick=undefined
    }

    function generateHexagonsHTML(cols,rows){
        let hexagonsHTML = ""
        for (let row = 0; row < rows; row++) {
            hexagonsHTML+=`<div>`
            for(let col=0; col < cols-(row%2); col++) {
                if(row!=0||row!=rows-1||col!=0){
                    hexagonsHTML += `<div
                        class="hexagon"
                        id="hexagon-${col}-${row}"
                        style="background-color: ${terrainColors[0]}"
                        data-civ="none"
                        onclick="explore(${col},${row})"
                    ><br><br>${terrainTypes[0]}</div>`
                }
                //TODO: TIl i morgen - fixxx
                if(col==cols-(row%2)-1){
                    hexagonsHTML += `<div
                    class="hexagon"
                    id="hexagon-${col+1}-${row}"
                    style="background-color: ${terrainColors[4]}"
                    ><br><br>${terrainTypes[4]}
                    </div>`

                }
                if(col==cols-(row%2)-1)
                    hexagonsHTML += `<div
                    class="hexagon"
                    id="hexagon-${col+2}-${row}"
                    style="background-color: ${terrainColors[7]}"
                    ><br><br>${terrainTypes[7]}
                    </div>`

            }

            hexagonsHTML+=`</div>`
        }

        return hexagonsHTML
    }

    loadHexagons()

    // setTimeout(() => {count(5,2)}, 10000)
    //document.onload = loadHexagons
</script>
</body>