<!DOCTYPE html>
<head>
    <title>Hex</title>
    <link rel="stylesheet" href="/../static/stylesheet.css">
    <script src="hexagon.js"></script>
</head>
<body>
<section>
    <div class="sideBar">
        <h1 id="playerNameTitle" class="playerTitle"></h1>


        <h3 id="soldierCount" class="soldierCount"></h3>
        <h3 id="carrierCount" class="carrierCount"></h3>

        <!--Somehow the table doesn't show without this -->
        <h2 style="height: 50px"></h2>

        <h2>Inventory</h2>

        <table>
            <thead>
            <tr>
                <th>Item</th>
                <th>Amount</th>
                <th>Weight</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>Gold</td>
                <td id="goldCount">0</td>
                <td id="goldWeight">0</td>
            </tr>
            <tr>
                <td>Food</td>
                <td id="foodCount">0</td>
                <td id="foodWeight">0</td>
            </tr>
            <tr>
                <td>Water</td>
                <td id="waterCount">0</td>
                <td id="waterWeight">0</td>
            </tr>
            <tr>
                <td>Gifts</td>
                <td id="giftCount">0</td>
                <td id="giftWeight">0</td>
            </tr>
            <tr>
                <td>Canoes</td>
                <td id="canoeCount">0</td>
                <td id="canoeWeight">0</td>
            </tr>
            <tr>
                <td>Gemstones</td>
                <td id="gemstoneCount">0</td>
                <td id="gemstoneWeight">0</td>
            </tr>
            <tr>
                <td>Fur</td>
                <td id="furCount">0</td>
                <td id="furWeight">0</td>
            </tr>
            <tr>
                <td>Piece of Art</td>
                <td id="artPieceCount">0</td>
                <td id="artPieceWeight">0</td>
            </tr>
            </tbody>
        </table>
    </div>
    <canvas id="HexCanvas" width="1000" height="700"></canvas>
</section>

<script>
    var hexagonGrid = new HexagonGrid("HexCanvas", 50);
    hexagonGrid.drawHexGrid(7, 10, 50, 50, true);

    function setPlayerNameTitle(name){
        const node = document.getElementById("playerNameTitle")
        node.innerText = name
    }

    function setSoldierCount(count){
        let finalText = "Soldiers: " + count
        const node = document.getElementById("soldierCount")
        node.innerText = finalText
    }

    function setCarrierCount(count){
        let finalText = "Carrier: " + count
        const node = document.getElementById("carrierCount")
        node.innerText = finalText
    }

    function setInventoryItem(item, count){
        let goldWeightRatio = 4
        let foodWeightRatio = 0.5
        let waterWeightRatio = 0.5
        let giftWeightRatio = 2
        let canoeWeightRatio = 3
        let gemstoneWeightRatio = 2
        let furWeightRatio = 5
        let artPieceWeightRatio = 3

        switch(item) {
            case "gold":
                updateItem(item, count, count*goldWeightRatio)
                break;
            case "food":
                updateItem(item, count, count*foodWeightRatio)
                break;
            case "water":
                updateItem(item, count, count*waterWeightRatio)
                break;
            case "gift":
                updateItem(item, count, count*giftWeightRatio)
                break;
            case "canoe":
                updateItem(item, count, count*canoeWeightRatio)
                break;
            case "gemstone":
                updateItem(item, count, count*gemstoneWeightRatio)
                break;
            case "fur":
                updateItem(item, count, count*furWeightRatio)
                break;
            case "artPiece":
                updateItem(item, count, count*artPieceWeightRatio)
                break;
            default:
            throw new Error("Item name doesn't exist")
        }
    }

    function updateItem(item, count, weight){
        const countString = item + "Count"
        const weightString = item + "Weight"
        const countNode = document.getElementById(countString)
        const weightNode = document.getElementById(weightString)
        countNode.innerText = count
        weightNode.innerText = weight
    }

    //Updates HUD by getting info from server, hardcoded for now
    function updateHUD(){
        setPlayerNameTitle("Senor Rasmus")
        setSoldierCount(20)
        setCarrierCount(20)
        setInventoryItem("gold", 5)
        setInventoryItem("food", 20)
        setInventoryItem("water", 10)
        setInventoryItem("gift", 20)
        setInventoryItem("canoe", 20)
        setInventoryItem("gemstone", 20)
        setInventoryItem("fur", 20)
        setInventoryItem("artPiece", 20)
    }

    updateHUD()
</script>

</body>