<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/gridstyles.css">
</head>
<body>
<div class="main">
    <div id="gameboard" class="container"></div>
</div>

<script>
    let terrainColors=['silver','yellow','green','lime','blue','gray','saddlebrown','cyan']
    let terrainTypes=['Unexplored','Dessert','Jungle','Grass','Sea','Mountains','Swamp','Coast']
    function loadHexagons(){
        document.getElementById('gameboard').innerHTML = generateHexagonsHTML(20,20)
    }
    function generateUnexploredHexagonsHTML(count){
        let hexagonsHTML = ""

        for (let i = 0; i < count; i++) {
            hexagonsHTML += `<div
                    class="hexagon"
                    id="hexagon-${i}"
                    style="background-image: ${terrainColors[0]}"
                    onclick="explore(${i})"
                ><br><br>${terrainTypes[0]}</div>`
        }
        return hexagonsHTML
    }
    function explore(cols,rows){

        let test = "hexagon-"+cols+"-"+rows
        console.log(test)
        let hexagon=document.getElementById("hexagon-"+cols+"-"+rows)
        let typeNumber=1+Math.floor(Math.random()*6)
        let color=terrainColors[typeNumber]
        let terrainType=terrainTypes[typeNumber]
        hexagon.style.backgroundColor=color
        hexagon.innerHTML=`<br><br>${terrainType}`
        hexagon.onclick=undefined
    }
    function generateHexagonsHTML(cols,rows){
        let hexagonsHTML = ""
        for (let row = 0; row < rows; row++) {
            hexagonsHTML+=`<div>`
            for(let col=0; col < cols-(row%2); col++) {
                let typeNumber

                hexagonsHTML += `<div
                        class="hexagon"
                        id="hexagon-${col}-${row}"
                        style="background-color: ${terrainColors[0]}"
                        onclick="explore(${col},${row})"
                    ><br><br>${terrainTypes[0]}</div>`
                if(row==0||row==rows-1||col==0){
                    typeNumber=4
                }
                else if(col==cols-(row%2)-1)
                    typeNumber=7
            }


            hexagonsHTML+=`</div>`
        }
        return hexagonsHTML
    }
    loadHexagons()
    //document.onload = loadHexagons
</script>

</body>
</html>